<h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Colour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% cache cache_key_for_products do %>
      All available products:
      <% @products.each do |product| %>
      <% cache(p) do %>
      <tr>
        <%= render product %>
    <%end%>
    <%end%>
    <%end%>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
